<div class="container" align="left">
    <div class="form-horizontal">
        <div class="form-group">
            <label> Frequency of Visits </label>
            <div class="checkbox">
                <label><input type="checkbox" ng-checked="fre"> Daily </label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" ng-checked="fre"> Weekly </label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" ng-checked="fre"> Monthly </label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" ng-checked="fre"> Yearly </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="days">How many days Often:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="days" ng-model="rec.days" placeholder="days" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="start">Start Date:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="start" ng-model="rec.start" placeholder="dd/mm/yyyy" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="end">End Date:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="end" ng-model="rec.end" placeholder="dd/mm/yyyy" required>
            </div>
        </div>
    </div>
</div>