<div class="container">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#basic">Scheduling</a>
                </h4>
            </div>
            <div id="basic" class="panel panel-collapse">
                <div class="panel-body">
                    <form class="form-horizontal" name="form1">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="start">Start Date:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="start" ng-model="sched.start" placeholder="dd/mm/yyyy" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="stime">Start Time</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="stime" ng-model="sched.stime" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="end">End Date:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="end" ng-model="sched.end" placeholder="dd/mm/yyyy" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="etime">End Time</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="etime" ng-model="sched.etime" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="location">Location:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="location" ng-model="sched.location" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-success" ui-sref="">Save</button>
                    <button type="button" class="btn btn-primary" ui-sref="">New</button>
                    <button type="button" class="btn btn-danger" ui-sref="">In Progress</button>
                    <button type="button" class="btn btn-default" ui-sref="">Completed</button>
                </div>
            </div>
        </div>
    </div>
</div>